<head>
  <title>Yesu's Home Page</title>
</head>
    <!-- Header -->
    <h1>Yesu Carter</h1>
    <div class="note">
      Website still under development.
    </div>

    <!-- Site Navigation Bar -->
    <%=render("shared/navbar")%>

    <span class="main_container">
      <div class="top_container">
    <!-- Profile Image and Short Description -->
    <div class="profile_container">
      <div>
        <%=image_tag("profile_image.jpg", alt: "Yesu Carter")%>
      </div>
      <!-- <div class="sub_container"> -->
        <div class="profile_description"> '19 Computer Science and Japanese Undergraduate at Colgate University </div>
        <div class="profile_contact"> Schenectady, NY </div>
        <div class="profile_contact">
          ycarter@colgate.edu
        </div>
      <!-- </div> -->

    </div>

    <!-- Current Projects and More Information -->
    <div class="info_container">
      <h3 class="header">About</h3>

      <div class="flex">

          <div class="flex_container">

            <div class="info">
              <div class="description_header"> Interests </div>

              <div class="description">
                Web Application and Software Development with a focus on fast and seamless performance.
              </div>
            </div>

            <div class="info">
              <div class="description_header"> Skills </div>

              <div class="description">
                Java, Python, Ruby, HTML, CSS, JavaScript, JQuery
              </div>
            </div>
          </div>

          <div class="flex_container">
            <div class="info">
            <div class="description_header"> Current Project </div>

              <div class="set"> Personal Website </div>
                <div class="description">Building a new personal website using the Ruby On Rails Framework, HTML, JavaScript, and CSS. This website will eventually be replaced with a copy created under the AngularJS Framework. </div>
            </div>

            <div class="info">
              <div class="description_header"> Recent Projects </div>

              <div class="set"> Food Allergens Web Application</div>
                  <div class="description"> Utilized NLTK and OCR technology to gather resturant foods and identify common and hidden allergens. Written using the Ruby on Rails Framework. Received a $4,500 research grant under The Division of Natural Sciences at Colgate for this project. </div>
              <div class="set"> Hamilton Central PTO Web Application </div>
                  <div class="description"> Developed a Ruby on Rails Web App in an Agile Dev-team of 6, solidified the foundations for Hamilton High School's new PTO. </div>
              </div>
            </div>

      </div>

    </div>


  </div>

    <!-- Useful links -->
    <!-- <div class="bottom_info_container">
      <h3> Useful Links </h3>

      <div class="description_header">
        Find me on LinkedIn
      </div>


    </div> -->

    </span>
