/* e6e6e6 */
@font-face {
  /*
  make fonts folder in assets
  rake assets:precompile
  inside Application class of application.rb -> config.assets.paths << Rails.root.join("app", "assets", "fonts")
    */
  font-family: 'Raleway-Bold';
  src: url('/assets/raleway/Raleway-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

h1 {
  padding-left: 10px;
}
h3.header {
  font-size: 30pt;
  margin: 5px 0px;
  font-family: 'Raleway-Bold';
}
.note {
    padding-left: 10px;
    font-size: 10px;
}

.profile_container {
  padding: 10px;
  /* height: 350px; */
  /* width: 292px; */
  height: auto;
  max-height: 350px;
  max-width: 292px;
  border-style: solid;
  display: inline-block;
  float: left;
}
.profile_container img {
  float: left;
  height: 250px;
  /* width: auto; */
  max-width: 100%;
  margin-bottom: 5px;
  display: block;
}
.profile_contact {
  font-size: 15px;
}

.profile_description {
  font-size: 17px;
  display: initial;
}

.info_container {
 width: auto;
 padding-left: 10px;
 padding-right: 10px;
 overflow: hidden;
 float: none;
}

.description_header {
  font-size: 105%;
  padding-top: 5px;
  text-align: center;
}
.set {
  font-size: 15px;
}
.description {
  text-align: left;
  font-size: 13px;
  margin-bottom: 5px;
}
.top_container {
  background-color: #F0EBD8;
  overflow: hidden;
}
.bottom_info_container {
  width: 100%;
  background-color: #e6e6e6;
  margin: auto;
}
