@font-face {
  font-family: 'Raleway-ExtraLight';
  src: font-url('raleway/Raleway-ExtraLight.ttf');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: #1D2D44;
}
.navbar li a {
  color: white;
  font-family: 'Raleway-ExtraLight';
  font-size: 15pt;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #748CAB;
}

.navbar ul {
  width: -webkit-fill-available
}
@media screen and (max-width: 991px) {
  .navbar ul {
    text-align: center;
  }
}
