@font-face {
  font-family: 'Raleway-ExtraLight';
  src: font-url('/assets/raleway/Raleway-ExtraLight.ttf');
  font-weight: normal;
  font-style: normal;
}

.navbar ul {
  /* background-color: #0759bf; */
  background-color: #1D2D44;
  list-style-type: none;
  overflow: hidden;

  margin: 0;
  padding: 0px 150px 0px;
}
.navbar li a {
  color: white;
  font-family: 'Raleway-ExtraLight';
  font-size: 15pt;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
}

.navbar li {
  float: left;
}
.navbar li a:hover {
  background-color: #748CAB;
}
