@font-face {
  font-family: "Raleway-Regular";
  src: font-url('raleway/Raleway-Regular.ttf');
}
.download_pdf {
  margin-top: 10px;
  display: inline-block;
}
.note {
  padding-left: 0px;
}

.section {
  margin: 0px 175px;
}
@media screen and (max-width: 770px) {
  .section {
    margin: 0px 100px;
  }
}
@media screen and (max-width: 500px) {
  .section {
    margin: 0px 70px;
  }
}

.name {
  font-family: 'Raleway-ExtraLight';
}

h2 {
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}
.location {
  font-size: 12px;
}
span.date {
  right: 5pt;
  float: right;
}
.bullets {
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 20px;
  list-style-type: square;
}
.courses {
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.set {
  margin: 15px 0px;
  a {
    text-decoration: none;
  }
}

.outerpart {
  display: block;
}
.part {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
}
.exp {
  font-size: 13px;
}

.hex-header {
  font-size: 18px;
  font-family: "Raleway-Bold";
  text-align: center;
  margin-bottom: 10px;
}
.hex-container {
  text-align: -webkit-center;
}
.text_box {
  padding-top: 20%;
  padding-left: 5%;
  padding-right:5%;
  position: relative;
  z-index: 1;
  text-align: center;
  font-family: 'Raleway-Regular';
  height: -webkit-fill-available;
}

.progress {
  max-width: 700px;
}
